.sidebar {
  height: calc(100vh - 50px);
  width: 240px;
  background-color: #353535;
  position: fixed;
  left: 0;
  z-index: 4;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &.closed {
    left: -240px;
  }

  .sidebar_heading {
    color: #fff;
    list-style: none;
    padding: 4px 16px;
    font-size: 11px;
  }

  .toggleMenuBtn {
    position: absolute;
    width: 16px;
    height: calc(100vh - 50px);
    text-align: center;
    background-color: #444;
    box-shadow: 0 0 2px rgba(0,0,0,.666);
    color: #fff;
    right: -16px;
    cursor: pointer;

    i {
      display: block;
      margin-top: 6px;
    }
  }

  ul {
    border: none !important;

    .collection-item {
      cursor: pointer;

      &:hover, &.active {
        background-color: #eee;
        color: #333;
      }
    }
  }
}

.brand-logo {
  color: #757575 !important;
  font-size: 28px !important;
  letter-spacing: 2px;
  padding: 0 24px !important;
  font-family: 'Teko';

  span {
    display: inline-block;
    margin-left: 24px;
  }

  i {
    position: absolute;
    top: 10px;
  }
}

.header {
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  box-shadow: 0 0 2px rgba(0,0,0,.25);

  li a {
    font-size: 13px;
    color: #757575 !important;
  }
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 50px;
  line-height: 50px;
}

.main {
  width: calc(100% - 240px);
  height: calc(100vh - 50px);
  overflow-y: hidden;
  margin-left: 256px;
  float: left;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal {
  overflow-y: visible;
}

.icon.left {
  margin-right: .5em;
}

.issue {
  font-size: 13px;
}

.repo-desc {
  height: 40px;
  overflow: hidden;
}

@media screen and (max-width:1400px) {
  .main {
    width: calc(100% - 16px);
    margin-left: 16px;
  }

  .sidebar {
    width: 240px;
  }
}


.colorPicker {
  .colorPicker_item {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: solid 2px #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.35);
    display: inline-block;
    cursor: pointer;

    &.cp_black {
      background-color: #000000;
    }

    &.cp_dark {
      background-color: #353535;
    }

    &.cp_grey {
      background-color: #9E9E9E;
    }

    &.cp_brown {
      background-color: #795548;
    }

    &.cp_red {
      background-color: #F44336;
    }

    &.cp_pink {
      background-color: #FF80AB;
    }

    &.cp_purple {
      background-color: #673AB7;
    }

    &.cp_yellow {
      background-color: #FFC107;
    }

    &.cp_orange {
      background-color: #FF5722;
    }

    &.cp_green {
      background-color: #4CAF50;
    }

    &.cp_blue {
      background-color: #2196F3;
    }

    &.active {
      box-shadow: 0 0 24px rgba(0,0,0,.35);
    }
  }
}

#taskName {
  margin: 0px;
  font-size: 13px;
  padding: 0 18px;
  box-sizing: border-box;
  border: none;

  &:focus, &:active {
    border: none;
    box-shadow: none;
  }
}

.Task {
  position: relative;
  cursor: pointer;

  .Task_title {
    margin: 0px;
    font-size: 13px;
  }

  .Task_action {
    position: absolute;
    top: 8px;
    right: 8px;

    .secondary-content {
      &.hover {
        background-color: #ddd;
      }
      padding: 0 12px;
      display: inline-block;
      cursor: pointer;
    }
  }

  &.checked {
    .Task_title {
      opacity: 0.4;
      text-decoration: line-through;
    }
  }
}

.Goal {
  .Goal_title {
    display: inline-block;
    width: 55%;
    overflow: hidden;
    white-space: pre;
    font-size: 16px;
  }

  .Goal_input {
    border-top: #ddd 1px solid;
    background-color: #fff;
    outline: 1px solid #ddd;
  }

  .Goal_action-delete, .Goal_action-setTimer {
    cursor: pointer;
    margin-left: 12px;
  }
}

.projectScreen, .DashBoard {
  background-color: #eee;
  width: 100%;
  height: calc(100vh - 50px);
  padding: 8px;
  display: none;
  position: relative;
  overflow-y: scroll;

  .projectScreen_action {
    position: absolute;
    top: 20px;
    right: 8px;

    li {
      list-style: none;
      display: inline-block;
      padding: 8px 24px;
      vertical-align: middle;
      background-color: #fff;
      box-shadow: 0 0 2px rgba(0,0,0,.2);
      text-align: center;
      cursor: pointer;
      font-size: 16px;
    }

    .projectScreen_action-removeBtn, .projectScreen_action-deleteTaskBtn {
      color: red;
    }
  }
}

.DashBoard {
  .card {
    height: 188px;
    overflow: hidden;
  }
}

.collection {
  overflow: visible;
}
