.sidebar {
  height: calc(100vh - 54px);
  width: 240px;
  background-color: #fff;
  float: left;
  position: fixed;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.brand-logo {
  color: #fff;
  font-size: 32px !important;
  padding: 0 24px !important;
  font-family: VT323;
}

.header {
  height: 54px;
  line-height: 54px;
  background-color: #36404a;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 54px;
  line-height: 54px;
}

.main {
  width: calc(100% - 240px);
  height: calc(100vh - 54px);
  overflow-y: scroll;
  margin-left: 240px;
  background-color: #eee;
  float: left;
  padding: 12px;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon.left {
  margin-right: .5em;
}

.issue {
  font-size: 13px;
}

.repo-desc {
  height: 40px;
  overflow: hidden;
}

@media screen and (max-width:1200px) {

  .main {
    width: 100%;
    margin-left: 0px;
  }

  .sidebar {
    width: 0px;
  }
}
